* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/estrelas.png);
}

.container {
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
}

h1, p {
    color: white;
}